# Regression

Finding best fit line to your data. More generally, fit a curce along the data points.

In supervised learning everything breaks down to features (data) and labels.

We have taken financial data from Quandl

amanjha_2k18it018@dtu.ac.in : qwesXDysKmsjLsohGw43 (API Key)

In [21]:
import pandas as pd # pandas for managing csv file dataset
import quandl, math, datetime # quandl for dataset
import numpy as np # computing library for arrays, matrix
import matplotlib.pyplot as plt # plt is a matplotlib plot
from matplotlib import style
import pickle # pickle is serialization of any python object

style.use('ggplot') # set variable of the style_matplotlib object

# used for scalling, to increase accuracy, processing speed
# cross-validation to split in to training and testing samples, shuffles our data for us

from sklearn import preprocessing, svm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
## df = quandl.get('WIKI/GOOGL') : for getting data_set directly from quandl

df = pd.read_csv('WIKI_GOOGL.csv',header=0,index_col = 'Date',parse_dates = True)

Find correlation and relationships between columns.

In the dataset, acquire as much meaningful features you can get.

In [4]:
# columns = ["Date","Open","High","Low","Close","Volume","Ex-Dividend","Split Ratio","Adj. Open","Adj. High","Adj. Low","Adj. Close","Adj. Volume"]

df

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-21,1092.57,1108.70,1087.21,1094.000,1990515.0,0.0,1.0,1092.570000,1108.700000,1087.210000,1094.000000,1990515.0
2018-03-22,1080.01,1083.92,1049.64,1053.150,3418154.0,0.0,1.0,1080.010000,1083.920000,1049.640000,1053.150000,3418154.0
2018-03-23,1051.37,1066.78,1024.87,1026.550,2413517.0,0.0,1.0,1051.370000,1066.780000,1024.870000,1026.550000,2413517.0
2018-03-26,1050.60,1059.27,1010.58,1054.090,3272409.0,0.0,1.0,1050.600000,1059.270000,1010.580000,1054.090000,3272409.0
2018-03-27,1063.90,1064.54,997.62,1006.940,2940957.0,0.0,1.0,1063.900000,1064.540000,997.620000,1006.940000,2940957.0

In [5]:
# panda's is reading the dataframe in ascending order of data

# to convert data_frame in descending order of date

df = df.sort_index(ascending=False)

df = df.reset_index() # resents the index

In [6]:
df

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2018-03-27,1063.90,1064.54,997.62,1006.940,2940957.0,0.0,1.0,1063.900000,1064.540000,997.620000,1006.940000,2940957.0
1,2018-03-26,1050.60,1059.27,1010.58,1054.090,3272409.0,0.0,1.0,1050.600000,1059.270000,1010.580000,1054.090000,3272409.0
2,2018-03-23,1051.37,1066.78,1024.87,1026.550,2413517.0,0.0,1.0,1051.370000,1066.780000,1024.870000,1026.550000,2413517.0
3,2018-03-22,1080.01,1083.92,1049.64,1053.150,3418154.0,0.0,1.0,1080.010000,1083.920000,1049.640000,1053.150000,3418154.0
4,2018-03-21,1092.57,1108.70,1087.21,1094.000,1990515.0,0.0,1.0,1092.570000,1108.700000,1087.210000,1094.000000,1990515.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3419,2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0
3420,2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
3421,2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
3422,2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
3423,2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0

In [7]:
# recreate data-frame to have minimum features

df = df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]

df

        Adj. Open    Adj. High     Adj. Low   Adj. Close  Adj. Volume
0     1063.900000  1064.540000   997.620000  1006.940000    2940957.0
1     1050.600000  1059.270000  1010.580000  1054.090000    3272409.0
2     1051.370000  1066.780000  1024.870000  1026.550000    2413517.0
3     1080.010000  1083.920000  1049.640000  1053.150000    3418154.0
4     1092.570000  1108.700000  1087.210000  1094.000000    1990515.0
...           ...          ...          ...          ...          ...
3419    52.542193    54.167209    52.100830    53.164113    9188600.0
3420    55.792225    55.972783    51.945350    52.597363   15247300.0
3421    55.551482    56.915693    54.693835    54.869377   18256100.0
3422    50.661387    54.708881    50.405597    54.322689   22834300.0
3423    50.159839    52.191109    48.128568    50.322842   44659000.0

[3424 rows x 5 columns]

In [8]:
# we are making new features and removing the redundant once

df['HL_PCT'] = (df['Adj. High'] - df['Adj. Low']) / df['Adj. Close'] * 100 # create a new column

df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100

df = df[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]

# columns = ["Date","Adj. Close","HL_PCT","PCT_change","Adj. Volume"]

df

c:\users\lenovo pc\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\lenovo pc\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

       Adj. Close    HL_PCT  PCT_change  Adj. Volume
0     1006.940000  6.645878   -5.353887    2940957.0
1     1054.090000  4.619150    0.332191    3272409.0
2     1026.550000  4.082607   -2.360729    2413517.0
3     1053.150000  3.254997   -2.487014    3418154.0
4     1094.000000  1.964351    0.130884    1990515.0
...           ...       ...         ...          ...
3419    53.164113  3.886792    1.183658    9188600.0
3420    52.597363  7.657099   -5.726357   15247300.0
3421    54.869377  4.049360   -1.227880   18256100.0
3422    54.322689  7.921706    7.227007   22834300.0
3423    50.322842  8.072956    0.324968   44659000.0

[3424 rows x 4 columns]

In [9]:
forecast_col = 'Adj. Close' # forecast column

df.fillna(-99999, inplace=True) # fillna stands for not an available nan. Since in ML we can't work with nan data

forecast_out = int(math.ceil(0.01*len(df))) # we are going to predict 1% previous forecast

df['label'] = df[forecast_col].shift(forecast_out) # we are shifting the values forecast out values down by 1% the length of our data_frame

# the data frame with a new_column label

df

c:\users\lenovo pc\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
c:\users\lenovo pc\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

       Adj. Close    HL_PCT  PCT_change  Adj. Volume      label
0     1006.940000  6.645878   -5.353887    2940957.0        NaN
1     1054.090000  4.619150    0.332191    3272409.0        NaN
2     1026.550000  4.082607   -2.360729    2413517.0        NaN
3     1053.150000  3.254997   -2.487014    3418154.0        NaN
4     1094.000000  1.964351    0.130884    1990515.0        NaN
...           ...       ...         ...          ...        ...
3419    53.164113  3.886792    1.183658    9188600.0  71.219849
3420    52.597363  7.657099   -5.726357   15247300.0  70.668146
3421    54.869377  4.049360   -1.227880   18256100.0  68.912727
3422    54.322689  7.921706    7.227007   22834300.0  67.839414
3423    50.322842  8.072956    0.324968   44659000.0  69.078238

[3424 rows x 5 columns]

In [10]:
# define X features; labels Y

X = np.array(df.drop(['label'],1)) # df.drop returns a new data_frame

# scaling X feature matrix

X = preprocessing.scale(X) # scale along side other values

# taking X where 'lable' ( forecast_out) is NaN **&** taking X_lately to predict them later on

X = X[forecast_out:]

X_lately = X[:forecast_out]

In [11]:
df.dropna(inplace=True) # drops the whole row, wherever one value in the row-column is nan

Y = np.array(df['label'])

print(len(X),len(Y))

print("\n")

print(df.tail(),"\n\n",df.head()) # viewing the data_frame from head to tail

3389 3389


      Adj. Close    HL_PCT  PCT_change  Adj. Volume      label
3419   53.164113  3.886792    1.183658    9188600.0  71.219849
3420   52.597363  7.657099   -5.726357   15247300.0  70.668146
3421   54.869377  4.049360   -1.227880   18256100.0  68.912727
3422   54.322689  7.921706    7.227007   22834300.0  67.839414
3423   50.322842  8.072956    0.324968   44659000.0  69.078238

     Adj. Close    HL_PCT  PCT_change  Adj. Volume    label
35     1068.76  5.450241   -2.893850    3742469.0  1006.94
36     1119.20  1.798606   -0.729098    5798880.0  1054.09
37     1181.59  1.530988    0.476195    2774967.0  1026.55
38     1182.22  1.202822   -0.134312    1643877.0  1053.15
39     1177.37  1.139829   -0.029718    1792602.0  1094.00

c:\users\lenovo pc\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
# can use cross_validation.text_train_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2) # divide set into 80:20 ration for training:testing; returns a tuple which is needed

In [13]:
# create a machine Learning model based on linear regression

model = LinearRegression(n_jobs = -1) # n_jobs represents threading

# fit the features and lables
model.fit(X_train,Y_train)

LinearRegression(n_jobs=-1)

In [26]:
# Pickling, scaling

# Pickling : Saving the model

with open('LinearRegression.pickle','wb') as f:
    pickle.dump(model,f) # to dump or to save the trained classifier

#load the classifier

pickle_in = open('LinearRegression.pickle','rb')
loaded_model = pickle.load(pickle_in) # load the saved model

In [27]:
accuracy = loaded_model.score(X_test,Y_test) # calculate's accuracy

print(accuracy) # got 97.9% accuracy

0.9786812661244767

In [15]:
# Using Support vector Regression

svm_model = svm.SVR(kernel = 'poly') # default is a linear kernel

svm_model.fit(X_train,Y_train)

svm_accuracy = svm_model.score(X_test,Y_test)

print(svm_accuracy) # svm has got accuracy of 80% with linear kernel and 65.2% with polynimial kernel

0.6525198193413071

In [16]:
# prediction based on the X_lately set

forecast_set = model.predict(X_lately)

print(forecast_set, accuracy, forecast_out)

[1083.07785382 1137.4246853  1201.98335229 1203.3124721  1198.44441852
 1207.68370902 1208.11889401 1203.45646804 1191.56335688 1197.48547041
 1184.41634279 1164.64366707 1156.50216932 1159.76169565 1150.35185672
 1150.53061558 1133.03222304 1131.30723563 1133.61677097 1135.33773369
 1131.04222378 1116.52913233 1111.13298523 1092.62650657 1074.23902937
 1076.20269712 1080.63690141 1086.4010505  1090.09994319 1091.48704576
 1093.69419367 1100.07840697 1105.18665536 1091.44592507 1077.43589784] 0.9786812661244767 35

In [17]:
df['Forecast'] = np.nan # a cloumn with all nan ( not a number ) values

c:\users\lenovo pc\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
# ploting a graph with x axis as date, y axis as closing-price ( Adj. Close )

# Find out what the last date was

last_date = df.iloc[-1].name # df.iloc[-1] returns a df with one row containg df[-1] ( the last one's ) info

##last_date = last_date.name # returns the index value of the rows

last_unix = last_date.timestamp() # converting the last index ( 3423 ) into timestamp()

one_day = 84600

next_unix = last_unix + one_day

# populate the dataframe with the new dates and the forecast value

for i in forecast_set: # next forecast in prediction
    next_date = datetime.datetime.fromtimestamp(next_unix)
    next_unix += one_day
    df.loc[next_date] = [np.nan for _ in range(len(df.column)-1)] + [i] # df.loc references the index for that data_frame
    
df['Adj. Close'].plot()
df['Forecast'].plot()
plt.legend(loc=4)

plt.xlabel('Date') # setting labels of the plot
plt.ylabel('Price')

# displaying the ploy

plt.plot